.main-homepage-container{
    overflow: hidden;
}

.bg{
    overflow: hidden;
    position: absolute;
    z-index: -2;
    height: 100%;
    width: 100%;
    background-color: #EEC4A5;
    clip-path: ellipse(48% 41% at 93% 35%);
}

.njack-block{
    text-align: left;
    padding-left: 40px;
    padding-right: 50px;
}

.not-just-text{
    font-size: 31px;
    font-weight: bold;
    text-align: left;
    font-family: Segoe UI;
}

p.home-para{
    font-size: 25px;
    font-family: Segoe UI;
    font-weight: bold;
    color: rgba(112, 112, 112, 1);
}

button.home-but{
    background-color: teal;
    border-radius: 19px;
    color: white;
    font-size: 23px;
    text-align: center;
    font-family: Segoe UI;
    font-weight: bold;
    padding: 12px;
    margin: 20px;
}

button.home-but:hover{
    filter: brightness(90%);
    color: white;
}

div.angbrack-row{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 80px;
    text-align: center;
    /* display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr)); */
}

p.angbrack-para{
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 20px;
    color: rgba(112, 112, 112, 1);
}


div.home-clip{
    justify-items: center;
    justify-content: center;
    width: 500px; 
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: teal;
    border-radius: 15px;
    cursor: pointer;
    clip-path: circle(13% at 50% 25%);
    transition: clip-path 0.6s ease-in-out;
}

@media only screen and (max-width:1150px){
       div.home-clip{
           display: none;
       }
}

img.home-clip-img{

}

div.home-clip:hover{
    clip-path: circle(75%);
}