
.sidebaricon{
    position: fixed;
    z-index: 2;
    padding: 10px;
    right: 0px;
    top: 25px;
    -webkit-backface-visibility: hidden;
}

.spec{
    padding: 0;
}

div.aboutrow{
    margin-bottom: 30px;
}

div.about{
    text-align: center;
}

img.aboutus{
    /* min-width: ; */
    width: 100%;
}

div.whatwedo{
    margin-left: 30px;
    padding: 20px 40px;
    /* padding-left: 40px; */
}
div.whatwedo p{
    font-size: 26.00px;
    font-weight: 700;
    color:rgba(112, 112, 112, 1);
}

@media screen and (max-width:630px){
    div.whatwedo p{
        font-size: 17.00px;
        font-weight: 700;
        color:rgba(112, 112, 112, 1);
    }
}

/* nwoc apeireon row */
div.nwocAper{
    background-color: black;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 20px;
}

div.nwocrow{
    padding-top: 35px;
}

div.nwocrow img{
    margin-bottom: 60px;
}

div.nwocrow h1{
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}

div.nwocrow p{
    text-align: center;
    color: rgba(112, 112, 112, 1);
    font-weight: 700;
    font-size: 26.00px;
    padding:20px;
}

div.nwocrow button{
    margin: 20px;
    font-size: 20.00px;
    font-weight: 700;
    border-radius: 15px;
}


@media screen and (max-width:800px){
    div.nwocrow p{
        font-size: 19.00px;
    }
    h1.nwochead {
        font-size: 35px;
    }
}

/* GSOC */
div.gsochead{
    font-size: 49.00px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Segoe UI', Arial;
    margin-top: 27px;
    margin-bottom: 40px;
}

div.gsoc{
    background-image: url('/assets/gsoc.png');
    background-size: cover;

}